#
# Top level generic files
#
!.gitignore
tags
TAGS
current
cscope.*
*.patch
*.orig
*.[oa]
*.lo
*.la
*.i
*.s
*.mod.c
*~
*.swp
*.gcno
*.gcda
*.ur-safe
.deps
.libs
.dirstamp
.DS_Store
Makefile
Makefile.in
missing
stamp-h1
ltmain.sh
libtool
install-sh
configure
config.*
compile
depcomp
aclocal.m4

