language: c
sudo: required
branches:
  only:
    - master
    - /^\d+\.\d+(\.\d+)?(-\S*)?$/
    - /^v\d+\.\d+(\.\S*)?$/
env:
  global:
    # Travis limits maximum log size, we have to cut tests output
    - CSTOR_TEST_TRAVIS_LOG_MAX_LENGTH=800
before_install:
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get update -qq
    - sudo apt-get install --yes -qq gcc-6 g++-6
    - sudo apt-get install --yes -qq build-essential autoconf libtool gawk alien fakeroot linux-headers-$(uname -r) libaio-dev
    - sudo apt-get install --yes -qq zlib1g-dev uuid-dev libattr1-dev libblkid-dev libselinux-dev libudev-dev libssl-dev libjson-c-dev
    - sudo apt-get install --yes -qq lcov libjemalloc-dev
    # packages for tests
    - sudo apt-get install --yes -qq parted lsscsi ksh attr acl nfs-kernel-server fio
    - sudo apt-get install --yes -qq libgtest-dev cmake
    # packages for debugging
    - sudo apt-get install gdb
    # use gcc-6 by default
    - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-6 /usr/bin/gcc
    - sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-6 /usr/bin/g++
install:
    - pushd .
    - cd /usr/src/gtest
    - sudo cmake CMakeLists.txt
    - sudo make -j4
    - sudo cp *.a /usr/lib
    - popd
    # save the current location to get back
    - pushd .
    - cd ..
    # we need fio repo to build zfs replica fio engine
    - git clone https://github.com/axboe/fio
    - cd fio
    - git checkout fio-3.7
    - ./configure
    - make -j4
    - cd ..
    - git clone https://github.com/openebs/spl
    - cd spl
    - git checkout spl-0.7.9
    - sh autogen.sh
    - ./configure
    - make -j4
    - cd ..
    # we need cstor code
    - git clone https://github.com/openebs/cstor.git
    # return to libcstor code
    - cd libcstor
    - sh autogen.sh
    - ./configure --enable-debug --with-zfs-headers=$PWD/../cstor/include --with-spl-headers=$PWD/../cstor/lib/libspl/include
    - make -j4
    - sudo make install
    - sudo ldconfig
    - cd ..
    - cd cstor
    - git checkout develop
    - sh autogen.sh
    - ./configure --with-config=user --enable-code-coverage=yes --enable-debug --enable-uzfs=yes --with-jemalloc --with-fio=$PWD/../fio --with-libcstor=$PWD/../libcstor/include
    - make -j4;
script:
    export FIO_SRCDIR=$PWD/../fio;
    sudo bash ./print_debug_info.sh &
    sudo bash ./tests/cbtest/script/test_uzfs.sh -T all || travis_terminate 1;
after_failure:
    - find /var/tmp/test_results/current/log -type f -name '*' -printf "%f\n" -exec cut -c -$CSTOR_TEST_TRAVIS_LOG_MAX_LENGTH {} \;
after_success:
    - find /var/tmp/test_results/current/log -type f -name '*' -printf "%f\n" -exec cut -c -$CSTOR_TEST_TRAVIS_LOG_MAX_LENGTH {} \;
